* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 2fr 10fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

.title {
  color: aliceblue;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  padding: 10px;
}

.main_title {
  padding: 70px;
}

.header {
  background-color: darkseagreen;
  padding: 10px;
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  grid-gap: 5px;
  justify-items: center;
}

.button {
  background-color: aliceblue;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  color: rgb(53, 51, 51);
  padding: 10px 15px;
}

.main {
  background-color: steelblue;
}

.main_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 70px 20px;
  align-content: end;
}

.main_grid_item {
  min-height: 60px;
  background-color: rgb(51, 51, 182);
  color: aliceblue;
  font-size: 30px;
  align-content: end;
}

.box_3 {
  grid-column: 3/5;
  grid-row: 1/3;
}

.box_6 {
  grid-column: 1/3;
  grid-row: 3/5;
}

.box_9 {
  grid-column: 3/5;
  grid-row: 4/6;
}

.footer {
  background-color: skyblue;
}

.box {
  display: grid;
  justify-content: center;
  align-content: center;
}
